@import '@fortawesome/fontawesome-free/css/all.css';
@import "tailwindcss";


:root {

    /* colors */
    --color-primary: #00adee;
    --color-info: #0dcaf0;
    --color-warning: #ffc107;
    --color-danger: #dc3545;
    --color-green: #94c53d;
    font-family: Roboto Slab, sans-serif;
}
