@import '@fortawesome/fontawesome-free/css/all.css';
@import "tailwindcss";


:root {

    /* colors */
    --color-primary: #00adee;
    --color-primary-claro: #e3e8e9;
    --color-gris: #c6d3d7;
    --color-azul: #0dcaf0;
    --color-info: #0dcaf0;
    --color-warning: #ffc107;
    --color-danger: #dc3545;
    --color-green: #94c53d;
    --color-default: #326872;
    --color-default-claro: #c0dee3;
    --color-default-oscuro: #081113;
    font-family: Roboto Slab, sans-serif;
}
